#keyboard {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	justify-content: center;

}

/* #hintSpotlight{
    display: none;
} */
#base {
	display: block;
	align-content: center;
	margin-left: 250px;
	position: absolute;
}
